body {background-color: #a87f7fa1;font-family: serif;border:40px solid #854e4e;max-width: 85%; margin: auto;padding: 40px;}
.a {max-width: 60%; margin: auto;padding: 15px;}
.b {}
  img {border-radius: 8px;
  box-shadow: 4px 4px 16px rgba(98, 53, 31, 1);a }
